# Ignore everything
*

# But not these files...
!.gitignore
!nvim/
!install.sh
!update.sh
!LICENSE
!README.md


plugin
custom
spell
ftplugin
syntax
coc-settings.json
.luarc.json
lazy-lock.json
after
**/.DS_Store
